html, body{
  height: 100%;
  width: 60%;
  place-self: center;
}

.hero {
    width: 100%;
    height: 60%;
    background-image: url(images/image.png);
    display: grid;
    place-content: center;
    padding: 0

    
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #75A288;
  display: flex;
  position: top;
  top: 0;
  width: 100%;
}

ul li a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

body {
    background-color: #064145;
}

.container .section-title {
   text-align: center;
   color: #75A288;
   font-size: 128px;
}

.container .section-text {
    text-align: center;
    color: #F5F5F5;
    font-size: 72px;
}

.container .faq_text {
    text-align: center;
    color: #F5F5F5;
    font-size: 64px;
}

.faq_question {
    text-align: center;
    color: #75A288;
    font-size: 96px;
}


